:root {
    --color-vk: #0077ff;
    --color-white: #fff;
    --color-gray-100: #eee;
    --color-black: #000;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--color-gray-100);
    border: 12px solid var(--color-black);
    font-family: sans-serif;
    font-size: 16px;
}

body:before {
    content: 'Parent window';
    display: block;
    padding: 12px;
    background: var(--color-black);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    line-height: 12px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 360px;
    background: var(--color-white);
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.card > h1 {
    font-size: 18px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 36px;
    line-height: 36px;
    border-radius: 8px;
    font-size: 15px;
    color: var(--color-white);
    background: var(--color-black);
    font-weight: 500;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;
}

.btn:hover {
    opacity: 0.75;
}

.btn:active {
    opacity: 1;
}

.btn-vk {
    background: var(--color-vk);
}
