:root {
    --color-primary: #6F47E2;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 12px solid var(--color-primary);
    font-family: sans-serif;
    font-size: 16px;
}

body:before {
    content: 'Parent window';
    display: block;
    padding: 12px;
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bolder;
    font-size: 12px;
    line-height: 12px;
}